<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict/>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>UTC</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>utc</string>
				<key>script</key>
				<string>puts &lt;&lt;XML
&lt;?xml version="1.0"?&gt;

&lt;items&gt;
  &lt;item uid="local"&gt;
    &lt;title&gt;#{Time.parse('{query}').local}&lt;/title&gt;
  &lt;/item&gt;

  &lt;item uid="utc"&gt;
    &lt;title&gt;#{Time.parse('{query}').utc}&lt;/title&gt;
  &lt;/item&gt;

  &lt;item uid="now"&gt;
    &lt;title&gt;#{Time.now.utc}&lt;/title&gt;
  &lt;/item&gt;

&lt;!--
  Example of using icon type 'fileicon' to load the file icon directly.
  This item is of type "file" which means it will be treated as a file in
  Alfred's results, so can be actioned and revealed in finder.
  Autocomplete sets what will complete when the user autocompletes.
--&gt;

  &lt;item uid="desktop" arg="~/Desktop" valid="YES" autocomplete="Desktop" type="file"&gt;
    &lt;title&gt;Desktop&lt;/title&gt;
    &lt;subtitle&gt;~/Desktop&lt;/subtitle&gt;
    &lt;icon type="fileicon"&gt;~/Desktop&lt;/icon&gt;
  &lt;/item&gt;

&lt;!--
  Example of loading an icon from the Workflow's folder.
  This item is set as valid no, which means it won't be actioned
--&gt;

  &lt;item uid="flickr" valid="no" autocomplete="flickr"&gt;
    &lt;title&gt;Flickr&lt;/title&gt;
    &lt;icon&gt;flickr.png&lt;/icon&gt;
  &lt;/item&gt;

&lt;!--
  Example of using icon type 'filetype' to load the icon for the file type.
  This item is of type "file" which means it will be treated as a file in
  Alfred's results, so can be actioned and revealed in finder.
--&gt;

  &lt;item uid="image" autocomplete="My holiday photo" type="file"&gt; 
    &lt;title&gt;My holiday photo&lt;/title&gt; 
    &lt;subtitle&gt;~/Pictures/My holiday photo.jpg&lt;/subtitle&gt; 
    &lt;icon type="filetype"&gt;public.jpeg&lt;/icon&gt; 
  &lt;/item&gt; 

&lt;/items&gt;
XML</string>
				<key>title</key>
				<string>UTC</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E27FC871-7F10-4A94-9E7E-1978EF1E5B7A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>E27FC871-7F10-4A94-9E7E-1978EF1E5B7A</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
