[include]
	path = ~/.gitconfig.private
[color]
	ui = auto
	diff = true
[core]
	autocrlf = false
	safecrlf = true
	excludesfile = /Users/alpha/.gitignore
	quotepath = false
	pager = diff-so-fancy | less --tabs=4 -RFX
	sparecheckout = true
[alias]
	g = grep --break --heading --line-number
	standup = "!git log --all --date=short --no-merges --pretty=format:\"%h %ad %s%d\" --since=1.weeks --author=`git config user.email`"
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	s = status -sb
	latest = for-each-ref --count=20 --sort=-committerdate --format='%(committerdate:short) %(refname:short)'
	root = !pwd
	push-f = push --force-with-lease
[difftool]
	prompt = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = current
	followTags = true
	recurseSubmodules = on-demand
[difftool "kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[difftool "icdiff"]
	cmd = icdiff --line-numbers --no-bold \"$LOCAL\" \"$REMOTE\"
[grep]
	extendRegexp = true
	lineNumber = true
[pull]
	rebase = true
[apply]
	whitespace = warn
[merge]
	conflictstyle = diff3
	ff = false
[init]
	templatedir = /Users/alpha/.git_templates
[diff]
	algorithm = patience
	tool = icdiff
	compactionHeuristic = true
[fetch]
	prune = true
[tag]
	sort = version:refname
[rebase]
	autosquash = true
[interactive]
	singlekey = true
; [url "git@github.com:"]
; 	insteadof = https://github.com/
[transfer]
	fsckobjects = true
[submodule]
	fetchJobs = 4
[commit]
	verbose = true
[filter "alfredworkflow"]
	clean = alfredworkflow.clean
