[submodule "src/prezto"]
	path = src/prezto
	url = https://github.com/kejadlen/prezto.git
[submodule "Alfred.alfredpreferences/workflows/faker.alfredworkflow"]
	path = Alfred.alfredpreferences/workflows/faker.alfredworkflow
	url = https://github.com/kejadlen/faker.alfredworkflow
[submodule "Alfred.alfredpreferences/workflows/alphred.alfredworkflow"]
	path = Alfred.alfredpreferences/workflows/alphred.alfredworkflow
	url = https://github.com/kejadlen/alphred.alfredworkflow.git
[submodule ".vim/pack/alpha/start/vim-commentary"]
	path = .vim/pack/alpha/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/pack/alpha/start/vim-sensible"]
	path = .vim/pack/alpha/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule ".vim/pack/alpha/start/vim-surround"]
	path = .vim/pack/alpha/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/pack/alpha/start/vim-sleuth"]
	path = .vim/pack/alpha/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule ".vim/pack/alpha/start/vim-tmux-navigator"]
	path = .vim/pack/alpha/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule ".vim/pack/alpha/start/vim-unimpaired"]
	path = .vim/pack/alpha/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule ".vim/pack/alpha/start/rust.vim"]
	path = .vim/pack/alpha/start/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule ".vim/pack/alpha/start/vim-vinegar"]
	path = .vim/pack/alpha/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule ".vim/pack/alpha/start/vim-dispatch"]
	path = .vim/pack/alpha/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule ".vim/pack/alpha/start/vim-endwise"]
	path = .vim/pack/alpha/start/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule ".vim/pack/alpha/start/vim-ruby"]
	path = .vim/pack/alpha/start/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/pack/alpha/start/vim-repeat"]
	path = .vim/pack/alpha/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/pack/alpha/start/vim-textobj-user"]
	path = .vim/pack/alpha/start/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule ".vim/pack/alpha/start/vim-textobj-rubyblock"]
	path = .vim/pack/alpha/start/vim-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule ".vim/pack/alpha/start/vim-indent-object"]
	path = .vim/pack/alpha/start/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule ".vim/pack/alpha/start/tabular"]
	path = .vim/pack/alpha/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/pack/alpha/start/vim-projectionist"]
	path = .vim/pack/alpha/start/vim-projectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule ".vim/pack/alpha/start/vim-rake"]
	path = .vim/pack/alpha/start/vim-rake
	url = https://github.com/tpope/vim-rake.git
[submodule ".vim/pack/alpha/start/elm-vim"]
	path = .vim/pack/alpha/start/elm-vim
	url = https://github.com/ElmCast/elm-vim.git
[submodule "src/giphy.alfredworkflow"]
	path = src/giphy.alfredworkflow
	url = https://github.com/kejadlen/giphy.alfredworkflow.git
[submodule ".vim/pack/alpha/start/vim-racket"]
	path = .vim/pack/alpha/start/vim-racket
	url = https://github.com/wlangstroth/vim-racket.git
[submodule "src/dark-sky.alfredworkflow"]
	path = src/dark-sky.alfredworkflow
	url = https://github.com/kejadlen/dark-sky.alfredworkflow.git
[submodule ".vim/pack/alpha/start/lightline.vim"]
	path = .vim/pack/alpha/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".vim/pack/alpha/start/vim-qf"]
	path = .vim/pack/alpha/start/vim-qf
	url = https://github.com/romainl/vim-qf.git
[submodule ".vim/pack/alpha/start/vim-sexp"]
	path = .vim/pack/alpha/start/vim-sexp
	url = https://github.com/guns/vim-sexp.git
[submodule ".vim/pack/alpha/start/fzf.vim"]
	path = .vim/pack/alpha/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/pack/alpha/start/scribble.vim"]
	path = .vim/pack/alpha/start/scribble.vim
	url = https://github.com/vim-scripts/scribble.vim.git
[submodule ".vim/pack/alpha/start/gundo.vim"]
	path = .vim/pack/alpha/start/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule ".vim/pack/alpha/start/vim-operator-flashy"]
	path = .vim/pack/alpha/start/vim-operator-flashy
	url = https://github.com/haya14busa/vim-operator-flashy.git
[submodule ".vim/pack/alpha/start/vim-operator-user"]
	path = .vim/pack/alpha/start/vim-operator-user
	url = https://github.com/kana/vim-operator-user.git
[submodule "src/emoji.alfredworkflow"]
	path = src/emoji.alfredworkflow
	url = https://github.com/kejadlen/emoji.alfredworkflow.git
[submodule ".vim/pack/alpha/start/vim-colors-paramount"]
	path = .vim/pack/alpha/start/vim-colors-paramount
	url = https://github.com/owickstrom/vim-colors-paramount.git
[submodule ".vim/pack/alpha/start/is.vim"]
	path = .vim/pack/alpha/start/is.vim
	url = https://github.com/haya14busa/is.vim.git
[submodule ".vim/pack/alpha/start/typescript-vim"]
	path = .vim/pack/alpha/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule ".vim/pack/alpha/start/editorconfig-vim"]
	path = .vim/pack/alpha/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule ".vim/pack/alpha/start/vimwiki"]
	path = .vim/pack/alpha/start/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "src/faker.alfredworkflow"]
	path = src/faker.alfredworkflow
	url = https://github.com/kejadlen/faker.alfredworkflow.git
[submodule ".vim/pack/alpha/start/vim-reason-plus"]
	path = .vim/pack/alpha/start/vim-reason-plus
	url = https://github.com/reasonml-editor/vim-reason-plus.git
