local.*
*.local
private
*.private

.cargo/*

.config/*
!.config/1Password
!.config/aerospace
!.config/aider
!.config/alacritty
!.config/bat
!.config/direnv
!.config/fish
!.config/git
!.config/ghostty
!.config/glide
!.config/herdr
!.config/irb
.config/irb/irb_history
!.config/jj
!.config/nvim
!.config/neovide
!.config/pip
!.config/ramekin
.config/ramekin/agent
!.config/ripgrep
!.config/sketchybar
!.config/starship
!.config/starship.toml
!.config/tmux
.config/tmux/plugins
!.config/tridactyl
!.config/wezterm
!.config/yabai
!.config/zsh

.docker/*
!.docker/config.json

.ssh/*
!.ssh/config

.hammerspoon/Spoons/*
!.hammerspoon/Spoons/SpoonInstall

/.pi/agent
/ai/claude/*
!/ai/claude/.gitignore

# hack for now since I don't want to commit Alfred secrets
macos/Alfred.alfredpreferences/workflows/*/prefs.plist
