[color]
	ui = auto
	diff = true
[core]
	autocrlf = false
	safecrlf = true
	quotepath = false
	sparecheckout = true
	editor = nvim
[alias]
	g = grep --break --heading --line-number
	standup = !git log --all --date=short --no-merges --pretty=format:\"%h %ad %s%d\" --since=1.weeks --author=`git config user.email`
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	s = status -sb
	latest = for-each-ref --count=20 --sort=-committerdate --format='%(committerdate:short) %(refname:short)'
	root = !pwd
	push-f = push --force-with-lease
	stsh = stash --keep-index
	staash = stash --include-untracked
	fix = commit --amend --no-edit --no-reset-author
	ctags = !.git/hooks/ctags
[difftool]
	prompt = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
[difftool "kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool "icdiff"]
	cmd = icdiff --line-numbers --no-bold \"$LOCAL\" \"$REMOTE\"
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[push]
	default = current
	followTags = true
	recurseSubmodules = on-demand
	autoSetupRemote = true
[grep]
	extendRegexp = true
	lineNumber = true
[pull]
	rebase = true
[apply]
	whitespace = warn
[merge]
	conflictstyle = diff3
	ff = false
	tool = vimdiff
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[mergetool "kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[init]
	templatedir = ~/.git_templates
	defaultBranch = main
[diff]
	algorithm = histogram
	external = difft
	tool = difftastic
	; compactionHeuristic = true
	indentHeuristic = true
[fetch]
	prune = true
[tag]
	sort = version:refname
[rebase]
	autosquash = true
	stat = true
	updateRefs = true
[interactive]
	singlekey = true
[url "git@github.com:"]
	insteadof = https://github.com/
[transfer]
	fsckobjects = true
[submodule]
	fetchJobs = 4
	recurse = true
[commit]
	verbose = true
	gpgsign = true
[filter "alfredworkflow"]
	clean = alfredworkflow.clean
[filter "dash-prefs"]
	clean = clean-dash-prefs
[user]
	email = alpha@kejadlen.dev
	name = Alpha Chen
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINCttH8nEfk1uZ2291P4mbCoNcHxnr9iNBlbZckykeZ8
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[advice]
	addEmptyPathspec = false
[rerere]
	enabled = true
[branch]
	sort = -committerdate
[gpg]
	format = ssh
[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[include]
	path = ~/.gitconfig.local
