Alfred.alfredpreferences/workflows/*/info.plist filter=alfredworkflow

Alfred.alfredpreferences/workflows/user.workflow.35F259A3-BBD9-4A1B-B237-5E149EE1E723/dash_keyword_rust.png filter=lfs diff=lfs merge=lfs -text
Alfred.alfredpreferences/workflows/user.workflow.35F259A3-BBD9-4A1B-B237-5E149EE1E723/dash_keyword_vim.png filter=lfs diff=lfs merge=lfs -text
Alfred.alfredpreferences/workflows/user.workflow.35F259A3-BBD9-4A1B-B237-5E149EE1E723/icon.png filter=lfs diff=lfs merge=lfs -text
Alfred.alfredpreferences/workflows/user.workflow.35F259A3-BBD9-4A1B-B237-5E149EE1E723/dash_keyword_ansible.png filter=lfs diff=lfs merge=lfs -text
Alfred.alfredpreferences/workflows/user.workflow.35F259A3-BBD9-4A1B-B237-5E149EE1E723/dash_keyword_racket.png filter=lfs diff=lfs merge=lfs -text
Alfred.alfredpreferences/workflows/user.workflow.35F259A3-BBD9-4A1B-B237-5E149EE1E723/dash_keyword_ruby.png filter=lfs diff=lfs merge=lfs -text
Alfred.alfredpreferences/workflows/user.workflow.35F259A3-BBD9-4A1B-B237-5E149EE1E723/dash_keyword_rubygems.png filter=lfs diff=lfs merge=lfs -text
Alfred.alfredpreferences/workflows/user.workflow.35F259A3-BBD9-4A1B-B237-5E149EE1E723/dash_note_readme.png filter=lfs diff=lfs merge=lfs -text
Alfred.alfredpreferences/workflows/user.workflow.35F259A3-BBD9-4A1B-B237-5E149EE1E723/dash_keyword_css.png filter=lfs diff=lfs merge=lfs -text
Alfred.alfredpreferences/workflows/user.workflow.35F259A3-BBD9-4A1B-B237-5E149EE1E723/dash_keyword_haskell.png filter=lfs diff=lfs merge=lfs -text
Alfred.alfredpreferences/workflows/user.workflow.35F259A3-BBD9-4A1B-B237-5E149EE1E723/dash_keyword_markdown.png filter=lfs diff=lfs merge=lfs -text
Alfred.alfredpreferences/workflows/user.workflow.35F259A3-BBD9-4A1B-B237-5E149EE1E723/dash_keyword_nodejs.png filter=lfs diff=lfs merge=lfs -text
Alfred.alfredpreferences/workflows/user.workflow.35F259A3-BBD9-4A1B-B237-5E149EE1E723/dash_keyword_nodejs.png filter=lfs diff=lfs merge=lfs -text
