local.*
*.local
private
*.private

.config/*
!.config/alacritty
!.config/bat
!.config/direnv
!.config/git
!.config/kitty
!.config/nvim
!.config/pip
!.config/starship.toml
!.config/tridactyl
!.config/yabai

.local/*
!.local/share/nvim/site/pack/alpha/start

.ssh/*
!.ssh/config

.vim/.VimballRecord
.vim/.netrwhist
.vim/.scratch
.vim/spell
.vim/view

Alfred\ 2/Alfred.alfredpreferences/preferences/local

# temporary
.hammerspoon/Spoons/*
!.hammerspoon/Spoons/SpoonInstall
