<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>120CD8AD-75B3-4067-93D1-2F371AE02264</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>goodreads</string>
			<key>plusSpaces</key>
			<true/>
			<key>text</key>
			<string>Search Goodreads for '{query}'</string>
			<key>url</key>
			<string>https://www.goodreads.com/search?utf8=%E2%9C%93&amp;query={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>1B744577-C743-466D-9B65-8A45F55F7BE3</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>inbox</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Google Inbox for '{query}'</string>
			<key>url</key>
			<string>https://inbox.google.com/search/{query}?pli=1</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2A6135C2-8865-4D79-ADC0-B6D1D8EA2BEC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>canistreamit</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Can I Stream It for '{query}'</string>
			<key>url</key>
			<string>http://www.canistream.it/search/movie/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>491B807D-42B3-4CB4-861F-2ADF20727F53</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>amazon</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Amazon Smile for '{query}'</string>
			<key>url</key>
			<string>https://smile.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Daps&amp;field-keywords={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A5E2DBA1-C7F6-4F89-8348-987E767FC291</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pb</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Pinboard for '{query}'</string>
			<key>url</key>
			<string>https://pinboard.in/search/u:kejadlen?query={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D70178D9-628A-4910-9C32-9FDA059AA75F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pbt</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Pinboard tags for '{query}'</string>
			<key>url</key>
			<string>https://pinboard.in/u:kejadlen/t:{query}/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F548AE26-C2CD-485A-A0EA-6386E713D11C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>spl</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Seattle Public Library for '{query}'</string>
			<key>url</key>
			<string>http://seattle.bibliocommons.com/search?where=catalog&amp;t=smart&amp;q={query}&amp;search_category=keyword&amp;commit=search</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
