<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>491B807D-42B3-4CB4-861F-2ADF20727F53</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>amazon</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Amazon Smile for '{query}'</string>
			<key>url</key>
			<string>http://smile.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Daps&amp;field-keywords={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F548AE26-C2CD-485A-A0EA-6386E713D11C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>spl</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Seattle Public Library for '{query}'</string>
			<key>url</key>
			<string>http://seattle.bibliocommons.com/search?where=catalog&amp;t=smart&amp;q={query}&amp;search_category=keyword&amp;commit=search</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
