<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1FB4AA4F-276E-4B9E-B48B-D6119EE1B6AE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>43DCD79F-94B0-4F0D-B7C2-4F04DC7ECE20</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2E57B3A5-B65F-4AB6-93B2-183BB082414B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30CDA5F5-6107-44A7-8A5D-551DFBD599B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>960E961A-2EF3-44C4-BFF2-B8BA1466C8EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0DA2B6C-006F-47D0-8776-9FD4521B12FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B05A39FF-C3AD-4647-986B-8DD96AE31970</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2ADD2E2C-D157-4DF2-8E75-66E4056B7045</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B9B81241-4526-4576-824D-0F91559104D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30A43BD5-2CE5-46BB-96AF-B9189FC7BC44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DAAEF35A-A687-4193-A803-BA62557F08A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1EA28BFD-4D7A-444E-8904-EF68D0CBDC8C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DFF3D08D-2725-4D28-A6DE-A686B5DB1D2F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4B4BD72-CA70-4531-BFE5-65F7DBA7730A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EC6D2C38-A7EF-4ADF-9A5E-B9ED319D6E47</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5BED700A-28AF-4CEA-9E57-CBEBE56808CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alpha Chen</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>App Launcher/Switcher</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/System/Library/CoreServices/Finder.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>43DCD79F-94B0-4F0D-B7C2-4F04DC7ECE20</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>122</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F1</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1FB4AA4F-276E-4B9E-B48B-D6119EE1B6AE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>120</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F2</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>960E961A-2EF3-44C4-BFF2-B8BA1466C8EA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/opt/homebrew-cask/Caskroom/firefox/latest/Firefox.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>D0DA2B6C-006F-47D0-8776-9FD4521B12FC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>99</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F3</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B9B81241-4526-4576-824D-0F91559104D8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Utilities/Terminal.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>30A43BD5-2CE5-46BB-96AF-B9189FC7BC44</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Reeder.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>2ADD2E2C-D157-4DF2-8E75-66E4056B7045</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>118</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F4</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B05A39FF-C3AD-4647-986B-8DD96AE31970</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>96</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F5</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>DFF3D08D-2725-4D28-A6DE-A686B5DB1D2F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>~/Applications/YoruFukurou.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>B4B4BD72-CA70-4531-BFE5-65F7DBA7730A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>~/Applications/Adium.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>5BED700A-28AF-4CEA-9E57-CBEBE56808CA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>97</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F6</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>EC6D2C38-A7EF-4ADF-9A5E-B9ED319D6E47</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/opt/homebrew-cask/Caskroom/google-chrome/latest/Google Chrome.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>1EA28BFD-4D7A-444E-8904-EF68D0CBDC8C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>98</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F7</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>DAAEF35A-A687-4193-A803-BA62557F08A7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>101</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F9</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>2E57B3A5-B65F-4AB6-93B2-183BB082414B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>~/Applications/Mailbox (Beta).app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>30CDA5F5-6107-44A7-8A5D-551DFBD599B6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1EA28BFD-4D7A-444E-8904-EF68D0CBDC8C</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>1FB4AA4F-276E-4B9E-B48B-D6119EE1B6AE</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>2ADD2E2C-D157-4DF2-8E75-66E4056B7045</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>2E57B3A5-B65F-4AB6-93B2-183BB082414B</key>
		<dict>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>30A43BD5-2CE5-46BB-96AF-B9189FC7BC44</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>30CDA5F5-6107-44A7-8A5D-551DFBD599B6</key>
		<dict>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>43DCD79F-94B0-4F0D-B7C2-4F04DC7ECE20</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>5BED700A-28AF-4CEA-9E57-CBEBE56808CA</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>960E961A-2EF3-44C4-BFF2-B8BA1466C8EA</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>B05A39FF-C3AD-4647-986B-8DD96AE31970</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>B4B4BD72-CA70-4531-BFE5-65F7DBA7730A</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>B9B81241-4526-4576-824D-0F91559104D8</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>D0DA2B6C-006F-47D0-8776-9FD4521B12FC</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>DAAEF35A-A687-4193-A803-BA62557F08A7</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>DFF3D08D-2725-4D28-A6DE-A686B5DB1D2F</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>EC6D2C38-A7EF-4ADF-9A5E-B9ED319D6E47</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
