// https://manual.mailmate-app.com/custom_key_bindings
// https://manual.mailmate-app.com/key_binding_selectors.html
{
  // navigation
  "j" = "nextMessage:";
  "k" = "previousMessage:";
  "n" = "selectNextMailboxRow:";
  "p" = "selectPreviousMailboxRow:";
  "/" = "SearchAllMessages:";

  "g" = {
    "i" = ( "goToMailbox:", "A13B0792-0C64-4E36-80AF-61777A27D7C7" );
    "l" = ( "goToMailbox:", "7729C67E-42FD-42F3-AD4B-EB9CFD82015D" );
    "j" = ( "goToMailbox:", "JUNK" );
    "g" = "goToMailbox:";
  };

  // actions
  "!" = ( "markAsJunk:", "moveToJunk:" );
  "#" = "deleteMessage:";
  "a" = "replyAll:";
  "c" = "newMessage:";
  "d" = "downloadResources:";
  "e" = "archive:";
  "f" = "forwardMessage:";
  "r" = "reply:";
  "m" = "moveToMailbox:";
  "s" = "toggleFlag:";
  "u" = "undo:";
  "J" = {
    "e" = ( "goToMailbox:", "JUNK", "emptyMailbox:" );
    "m" = ( "markAsNotJunk:", "moveToMailbox:" );
  };

  "T" = {
    "h" = ( "toggleTag:", "hidden" );
    "s" = ( "toggleTag:", "set aside" );
  };
}
