// https://manual.mailmate-app.com/custom_key_bindings
// https://manual.mailmate-app.com/key_binding_selectors.html
{
  // navigation
  "j" = "nextMessage:";
  "k" = "previousMessage:";
  "n" = "selectNextMailboxRow:";
  "p" = "selectPreviousMailboxRow:";
  "/" = "SearchAllMessages:";

  "g" = {
    "i" = ( "goToMailbox:", "935735E7-D46D-4B1E-AF63-4905ABB907BC" );
    "l" = ( "goToMailbox:", "94564F7D-DF9A-4759-A634-87752884B612" );
    "j" = ( "goToMailbox:", "JUNK" );
    "l" = "goToMailbox:";
  };

  // actions
  "!" = ( "markAsJunk:", "moveToJunk:" );
  "#" = "deleteMessage:";
  "a" = "replyAll:";
  "c" = "newMessage:";
  "d" = "downloadResources:";
  "e" = "archive:";
  "f" = "forwardMessage:";
  "r" = "reply:";
  "s" = "toggleFlag:";
  "u" = "undo:";
  "J" = ( "markAsNotJunk:", "moveToMailbox:" );

  "T" = {
    "h" = ( "toggleTag:", "hidden" );
    "s" = ( "toggleTag:", "set aside" );
  };
}
