<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>120CD8AD-75B3-4067-93D1-2F371AE02264</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gr</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>Search Goodreads for '{query}'</string>
			<key>url</key>
			<string>https://www.goodreads.com/search?utf8=%E2%9C%93&amp;query={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>44474AB2-A23A-4D3C-AB64-0DFE164ED23A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sh</string>
			<key>text</key>
			<string>Open '{query}' in Sci-Hub</string>
			<key>url</key>
			<string>https://sci-hub.st/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>491B807D-42B3-4CB4-861F-2ADF20727F53</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>a</string>
			<key>text</key>
			<string>Search Amazon Smile for '{query}'</string>
			<key>url</key>
			<string>https://smile.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Daps&amp;field-keywords={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>57FEE37F-A055-4911-9537-D3F0FCCEDE08</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>lb</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>Search Letterboxd for '{query}'</string>
			<key>url</key>
			<string>https://letterboxd.com/search/{query}/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A5E2DBA1-C7F6-4F89-8348-987E767FC291</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pb</string>
			<key>text</key>
			<string>Search Pinboard for '{query}'</string>
			<key>url</key>
			<string>https://pinboard.in/search/u:kejadlen?query={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D70178D9-628A-4910-9C32-9FDA059AA75F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pbt</string>
			<key>text</key>
			<string>Search Pinboard tags for '{query}'</string>
			<key>url</key>
			<string>https://pinboard.in/u:kejadlen/t:{query}/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D95FBD2E-C606-4167-BC0C-6E37B51081EA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bgg</string>
			<key>text</key>
			<string>Search BGG for '{query}'</string>
			<key>url</key>
			<string>https://boardgamegeek.com/geeksearch.php?action=search&amp;objecttype=boardgame&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F548AE26-C2CD-485A-A0EA-6386E713D11C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>spl</string>
			<key>text</key>
			<string>Search Seattle Public Library for '{query}'</string>
			<key>url</key>
			<string>https://seattle.bibliocommons.com/search?where=catalog&amp;t=smart&amp;q={query}&amp;search_category=keyword&amp;commit=search</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
