<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.kejadlen.youtube-dl</string>
	<key>connections</key>
	<dict>
		<key>2839B6E1-2D75-4243-9942-AD80110973FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>909E38E9-F686-4F17-9842-1EB87235C84C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alpha Chen</string>
	<key>description</key>
	<string>Download videos from a URL</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>youtube-dl</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>youtube-dl</string>
				<key>text</key>
				<string>Download video from {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2839B6E1-2D75-4243-9942-AD80110973FD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>cd ~/BTSync
/usr/local/bin/youtube-dl "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>909E38E9-F686-4F17-9842-1EB87235C84C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2839B6E1-2D75-4243-9942-AD80110973FD</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>909E38E9-F686-4F17-9842-1EB87235C84C</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
