<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>dev.kejadlen.really-stupid-auth</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>2F8A7A5B-2917-461B-8E8E-50766560E982</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A8FF8466-7940-4E2A-AF9E-6243E0F6C7FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A8FF8466-7940-4E2A-AF9E-6243E0F6C7FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>19E314DC-76DE-4ABF-BA3A-8A3BF56C554F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>6A0B11E0-FA04-4944-AA12-FB6FFFDBC4BF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>04F57F81-372D-42B6-9B82-E74AD8148A1A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F62F8089-105F-4DDE-8FE3-BAD81EBE0CF3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2F8A7A5B-2917-461B-8E8E-50766560E982</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F9D40CD4-3236-45BB-9B6A-6219DEA3CE62</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2F8A7A5B-2917-461B-8E8E-50766560E982</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F62F8089-105F-4DDE-8FE3-BAD81EBE0CF3</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Paste into front most app</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alpha Chen</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Really Stupid Auth</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>19E314DC-76DE-4ABF-BA3A-8A3BF56C554F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>rsa</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>RSA Authenticate</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F9D40CD4-3236-45BB-9B6A-6219DEA3CE62</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./rsa-auth --serial=$SERIAL --seed=$SEED | tr -d '\n'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2F8A7A5B-2917-461B-8E8E-50766560E982</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:paste}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>true</string>
						<key>outputlabel</key>
						<string>paste</string>
						<key>uid</key>
						<string>6A0B11E0-FA04-4944-AA12-FB6FFFDBC4BF</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>display</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>A8FF8466-7940-4E2A-AF9E-6243E0F6C7FD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>04F57F81-372D-42B6-9B82-E74AD8148A1A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>paste</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F62F8089-105F-4DDE-8FE3-BAD81EBE0CF3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>04F57F81-372D-42B6-9B82-E74AD8148A1A</key>
		<dict>
			<key>xpos</key>
			<integer>725</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>19E314DC-76DE-4ABF-BA3A-8A3BF56C554F</key>
		<dict>
			<key>xpos</key>
			<integer>725</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>2F8A7A5B-2917-461B-8E8E-50766560E982</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>A8FF8466-7940-4E2A-AF9E-6243E0F6C7FD</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>F62F8089-105F-4DDE-8FE3-BAD81EBE0CF3</key>
		<dict>
			<key>xpos</key>
			<integer>285</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>F9D40CD4-3236-45BB-9B6A-6219DEA3CE62</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>SEED</key>
		<string></string>
		<key>SERIAL</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>SEED</string>
		<string>SERIAL</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/kejadlen/rsa-auth</string>
</dict>
</plist>
