<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>dev.kejadlen.pi-hole</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>C5FE7C51-5B6E-467C-817E-EF5F01B03533</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>526D4C81-72C4-4B9E-81B0-64D88E8A0E9D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F25A1BF6-EFD4-4D76-A569-8F66D1917539</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C5FE7C51-5B6E-467C-817E-EF5F01B03533</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alpha Chen</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pi-hole</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Pi-hole disabled</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>526D4C81-72C4-4B9E-81B0-64D88E8A0E9D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

curl -v "https://$PIHOLE_HOST/admin/api.php?disable={query}&amp;auth=$API_TOKEN"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C5FE7C51-5B6E-467C-817E-EF5F01B03533</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"30 seconds","arg":"30"},{"title":"1 minute","arg":"60"},{"title":"5 minutes","arg":"120","subtitle":""}]</string>
				<key>keyword</key>
				<string>ph</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>F25A1BF6-EFD4-4D76-A569-8F66D1917539</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>526D4C81-72C4-4B9E-81B0-64D88E8A0E9D</key>
		<dict>
			<key>xpos</key>
			<integer>465</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>C5FE7C51-5B6E-467C-817E-EF5F01B03533</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>F25A1BF6-EFD4-4D76-A569-8F66D1917539</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>API_TOKEN</key>
		<string>0747e372decf96f455c816d84af4dcdb9035f534ee031b7a1cf99812e923a114</string>
		<key>PIHOLE_HOST</key>
		<string>pihole.kejadlen.dev</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>API_TOKEN</string>
		<string>PIHOLE_HOST</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
