<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>14B563DB-C56F-408B-A23E-B713A547D5BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7CB8CA4E-42BF-48E8-A757-58186833C56D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7CB8CA4E-42BF-48E8-A757-58186833C56D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2CEE0A2C-753C-40A0-8983-A746BBBB8C65</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alpha Chen</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Simply Measured</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2CEE0A2C-753C-40A0-8983-A746BBBB8C65</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>14B563DB-C56F-408B-A23E-B713A547D5BC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>sm</string>
				<key>runningsubtext</key>
				<string>please wait</string>
				<key>script</key>
				<string>source /usr/local/share/chruby/chruby.sh
chruby ruby
ruby simply_measured.rb {query}</string>
				<key>subtext</key>
				<string>placeholder</string>
				<key>title</key>
				<string>Simply Measured</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7CB8CA4E-42BF-48E8-A757-58186833C56D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>14B563DB-C56F-408B-A23E-B713A547D5BC</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>2CEE0A2C-753C-40A0-8983-A746BBBB8C65</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>7CB8CA4E-42BF-48E8-A757-58186833C56D</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
